.movie {
  margin-top: 30px;
  display: flex;
  gap: 24px;
}
.poster {
  border: 10px solid white;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4px;

  text-shadow: 1px 1px 2px rgb(220, 192, 255);
}

.title {
  font-size: 50px;
  margin: 0;
}

.overview {
  text-align: left;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: start;
  align-items: start;
}

.text {
  font-size: 20px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 14px;
}

.infoTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.infoList {
  list-style-type: none;

  display: flex;
  justify-content: center;
  gap: 45px;
}

.link {
  color: white;
  font-size: 20px;

  text-decoration: underline;
  display: flex;
  width: 100px;
}
